
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div id="container">
 
 
    <!-- Binding -->
    
    <!-- One Way -->
    <!-- Two Way -->
 
 
    <ion-input clearInput placeholder="Nombre" [(ngModel)]="nombre"></ion-input> 
    <ion-input clearInput [(ngModel)]="apellidos" placeholder="Apellidos"></ion-input>
    <ion-input clearInput type="number" [(ngModel)]="edad" placeholder="Edad"></ion-input>
 
 
    <ion-button expand="block" (click)="crearEstudiante()">Agregar Estudiante</ion-button>
 
    <ion-list>
      <ion-item *ngFor="let estudiante of estudiantes">
        <ion-label>
          <label style="color: red;">{{estudiante.nombre}}</label>
          
          {{estudiante.apellidos}} -  {{estudiante.edad}}</ion-label>
      </ion-item>
    </ion-list>
 
 
 
  </div>
</ion-content>

