<ion-tabs>
  <ion-tab-bar>
 
    <ion-tab-button tab="restaurants">
      <ion-icon name="restaurant-outline"></ion-icon>
      <ion-label >Restaurantes</ion-label>
      <ion-badge>7</ion-badge>
    </ion-tab-button>
 
    <ion-tab-button tab="fundaments">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label >Fundamentos</ion-label>
    </ion-tab-button>
 
 
    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label >Acerca de</ion-label>
    </ion-tab-button>
 
 
  </ion-tab-bar>
</ion-tabs>

 

